blue =    #1565C0
green =   #00852B
red =     #C62828
yellow =  #FDCA35
white =   #fff
silver =  #ddd
gray =    #aaa
black =   #111

themeColor = #C62828
themeColorLight = #B71C1C
themeColorDark = #D32F2F
colorGray = #424242
colorJet = #212121

